<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>tp3siteRedirections</display-name>
  <welcome-file-list>

    <welcome-file>accueil.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>commande</servlet-name>
    <servlet-class>servlets.Commande</servlet-class>
    <init-param>
      <param-name>Auteur</param-name>
      <param-value>MOUEZA</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>commande</servlet-name>
    <url-pattern>/commande</url-pattern>
  </servlet-mapping>



  <servlet>
    <servlet-name>inscription</servlet-name>
    <servlet-class>servlets.Commande</servlet-class>
    <init-param>
      <param-name>Auteur</param-name>
      <param-value>MOUEZA</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>commande</servlet-name>
    <url-pattern>/commande</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  


  <servlet>
    <servlet-name>connexion</servlet-name>
    <servlet-class>servlets.connexion</servlet-class>
    <init-param>
      <param-name>Auteur</param-name>
      <param-value>MOUEZA</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
</web-app>